{{ define "title"}}<title>About</title>{{ end }}
{{ define "content" }}
    <h1>About</h1>
    <h3>What is this</h3>
    <p>A minecraft server tracker</p>
    <h3>How do I add a server?</h3>
    <p>Click on the 'Track' button.</p>
    <h3>Can I advertise?</h3>
    <p>Maybe.</p>
{{ end }}