{{ define "title"}}<title>About</title>{{ end }}
{{ define "content" }}
    <h1>About</h1>
    <h3>What is this?</h3>
    <p>A minecraft server tracker</p>
    <h3>What does it do?</h3>
    <p>It tracks minecraft servers</p>
    <h3>Why should I care?</h3>
    <p>Probably not</p>
    <h3>How do I add a server?</h3>
    <p>Click the 'Track' link</p>
    <h3>What is it built in?</h3>
    <p>Golang, and absolutely no Node.js</p>
    <h3>Can I advertise?</h3>
    <p>Maybe</p>
{{ end }}