{{ define "title"}}<title>Minecraft Servers</title>{{ end }}
{{ define "content" }}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Host</th>
            <th>Players</th>
            <th>Latency</th>
            <th>Last ping time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {{ range $key, $value := .servers }}
    <tr>
        <td>{{ $key }}</td>
        <td>{{ $value.Name }}</td>
        <td>{{ $value.Host }}</td>
        <td>{{ $value.Players }}</td>
        <td>
            {{ $value.Latency }}
        </td>
        <td>
            {{ $value.LastPingTime }}
        </td>
        <td>
            {{ $value.Status }}
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}